@media (min-width: 768px) {
  .navigation { display: flex; justify-content: center; gap: 2rem; }
  .navigation li { margin: 0; }

  .view-buttons { text-align: right; margin: 1rem 2rem; }

  header h1 { font-size: 2rem; }
}
